* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: all 0.3s ease;
}

.search-input {
    width: 300px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    transition: width 0.3s ease;
}

.search-button {
    background-color: rgba(60, 60, 239, 0.895);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: blue;
}

.search-input:focus {
    width: 500px;
}


